.site-header {
  background-color: #2f6f9f;   /* professional blue */
  color: white;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.site-header h1 {
  margin-bottom: 10px;
  font-size: 32px;
}

.site-header p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.5;
}


.site-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.site-nav a:hover {
  color: #f2c33c;  
}
.site-nav {
  background-color: #fab1a0;  
  padding: 15px 0;
  text-align: center;
}

.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-family: Arial, sans-serif;
}



.three-column {
  display: flex;
  gap: 20px;
  background-color: #f1f7f4;     
  padding: 30px;
  margin: 40px auto;
  border-radius: 16px;
  max-width: 1100px;
  font-family: Arial, sans-serif;
}

.column {
  flex: 1;
}

.column h3 {
  margin-bottom: 5px;
  color: #2f6f62;
}

.dash {
  width: 40px;
  height: 4px;
  background-color: #f2c33c;    
  margin-bottom: 15px;
}

.column p,
.column li {
  color: #333333;
  line-height: 1.5;
  font-size: 15px;
}

.column ul {
  padding-left: 20px;
}

.column img {
  width: 100%;
  max-width: 250px;
  margin-top: 15px;
  border-radius: 10px;
}




.reflection-section {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 16px;
  font-family: Arial, sans-serif;
}

.reflection-section h2,
.reflection-section h3 {
  color: #2f6f62;
}

.reflection-section .dash {
  width: 40px;
  height: 4px;
  background-color: #f2c33c;
  margin-bottom: 15px;
}

.reflection-section p,
.reflection-section li {
  color: #333;
  line-height: 1.6;
  font-size: 15px;
}



